.venv/ #игнорируем виртуальное окружение, для образа нужны только библиотеки и файлы с программой(.py)
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
*.pt
*.ckpt
*.h5
*.sqlite3
*.bak
*.tmp
*.md
*.ipynb
*.csv
*.tsv
*.json
*.npy
*.npz
*.pkl
*.joblib
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.svg
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.whl
*.egg
*.egg-info/
dist/
build/
.DS_Store
.idea/
.vscode/
*.log
.env
*.db
